@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: '--main';
    src: url("../public/Richardson Brand Accelerator.otf");
}

@font-face {
    font-family: '--secondary';
    src: url("../public/Futura Medium.otf");
}

.main {
    font-family: '--main', 'sans-serif';
}

/* Firefox */
* {
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

/* Chromium based */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 14px;
    border: 3px solid;
}