@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: '--main';
    src: url("../public/Richardson Brand Accelerator.otf");
}

.header {
    font-family: '--main', 'sans-serif';
}