@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: '--main';
    src: url("../public/Richardson Brand Accelerator.otf");
}

@font-face {
    font-family: '--secondary';
    src: url("../public/Futura Medium.otf");
}

.main {
    font-family: '--main', 'sans-serif';
}

.secondary {
    font-family: '--secondary', 'Inter Semi Bold';
}
